.widget .panel-body {
    padding: 0px;
}

.widget .list-group {
    margin-bottom: 0;
}

.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

    .widget li.list-group-item:hover {
        background-color: rgba(86,61,124,.1);
    }

.widget .mic-info {
    color: #666666;
    font-size: 11px;
}

.widget .comment-text {
    font-size: 12px;
}
